.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
  font-weight: bold;
}

.logo {
  font-size: 20px;
  color: var(--primary-color);
}

.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: var(--text-color);
}

.nav a:hover {
  color: var(--primary-color);
}