server:
  port: 10000
korail:
  service-key:
bus:
  service-key: 
kakao:
  api-key:
spring:
  datasource:
    url: 
    driver-class-name: 
    username:
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
       add-mappings: true
  mail:
    username: # 여기에 구글 이메일 주소를 입력하세요.
    password:    # 여기에 구글 앱 비밀번호를 입력하세요.
app:
  jwtSecret: ""
  jwtExpirationInMs: 86400000
